*.txt
*.nc
Model_Outputs/US-Dmg/0_dc.nc
Model_Outputs/US-Dmg/0_dh.nc
Model_Outputs/US-Dmg/0_dn.nc
Model_Outputs/US-Dmg/0_dp.nc
Model_Outputs/US-Dmg/0_dw.nc
Model_Outputs/US-Dmg/1_dc.nc
Model_Outputs/US-EDN/0_dc.nc
Model_Outputs/US-EDN/0_dh.nc
Model_Outputs/US-EDN/0_dn.nc
Model_Outputs/US-EDN/0_dp.nc
Model_Outputs/US-EDN/0_dw.nc
Model_Outputs/US-EDN/1_dc.nc
Model_Outputs/US-EKH/0_dc.nc
Model_Outputs/US-EKH/0_dh.nc
Model_Outputs/US-EKH/0_dn.nc
Model_Outputs/US-EKH/0_dp.nc
Model_Outputs/US-EKH/0_dw.nc
Model_Outputs/US-EKH/1_dc.nc
Model_Outputs/US-EKP/0_dc.nc
Model_Outputs/US-EKP/0_dh.nc
Model_Outputs/US-EKP/0_dn.nc
Model_Outputs/US-EKP/0_dp.nc
Model_Outputs/US-EKP/0_dw.nc
Model_Outputs/US-EKP/1_dc.nc
Model_Outputs/US-EKY/0_dc.nc
Model_Outputs/US-EKY/0_dh.nc
Model_Outputs/US-EKY/0_dn.nc
Model_Outputs/US-EKY/0_dp.nc
Model_Outputs/US-EKY/0_dw.nc
Model_Outputs/US-EKY/1_dc.nc
Model_Outputs/US-Hsm/0_dc.nc
Model_Outputs/US-Hsm/0_dh.nc
Model_Outputs/US-Hsm/0_dn.nc
Model_Outputs/US-Hsm/0_dp.nc
Model_Outputs/US-Hsm/0_dw.nc
Model_Outputs/US-Hsm/1_dc.nc
Model_Outputs/US-Myb/0_dc.nc
Model_Outputs/US-Myb/0_dh.nc
Model_Outputs/US-Myb/0_dn.nc
Model_Outputs/US-Myb/0_dp.nc
Model_Outputs/US-Myb/0_dw.nc
Model_Outputs/US-Myb/1_dc.nc
Model_Outputs/US-Sne/0_dc.nc
Model_Outputs/US-Sne/0_dh.nc
Model_Outputs/US-Sne/0_dn.nc
Model_Outputs/US-Sne/0_dp.nc
Model_Outputs/US-Sne/0_dw.nc
Model_Outputs/US-Sne/1_dc.nc
Model_Outputs/US-Srr/0_dc.nc
Model_Outputs/US-Srr/0_dh.nc
Model_Outputs/US-Srr/0_dn.nc
Model_Outputs/US-Srr/0_dp.nc
Model_Outputs/US-Srr/0_dw.nc
Model_Outputs/US-Srr/1_dc.nc
Model_Outputs/US-Tw1/0_dc.nc
Model_Outputs/US-Tw1/0_dh.nc
Model_Outputs/US-Tw1/0_dn.nc
Model_Outputs/US-Tw1/0_dp.nc
Model_Outputs/US-Tw1/0_dw.nc
Model_Outputs/US-Tw1/1_dc.nc
Model_Outputs/US-Tw4/0_dc.nc
Model_Outputs/US-Tw4/0_dh.nc
Model_Outputs/US-Tw4/0_dn.nc
Model_Outputs/US-Tw4/0_dp.nc
Model_Outputs/US-Tw4/0_dw.nc
Model_Outputs/US-Tw4/1_dc.nc
Raw_Observations/Additional_Data_Type/US-Dmg/website_data.mat
Raw_Observations/Additional_Data_Type/US-Hsm/website_data.mat
Raw_Observations/Additional_Data_Type/US-Myb/website_data.mat
Raw_Observations/Additional_Data_Type/US-Sne/website_data.mat
Raw_Observations/Additional_Data_Type/US-Tw1/website_data.mat
Raw_Observations/Additional_Data_Type/US-Tw4/website_data.mat
Raw_Observations/Atmospheric_Observations/US-Dmg/AMF_US-Dmg_BASE_HH_1-5.csv
Raw_Observations/Atmospheric_Observations/US-Dmg/AMF_US-Dmg_BASE_HH_1-5.nc
Raw_Observations/Atmospheric_Observations/US-EDN/AMF_US-EDN_BASE_HH_2-5.csv
Raw_Observations/Atmospheric_Observations/US-EDN/AMF_US-EDN_FLUXNET_FULLSET_HH_2018-2019_3-5.csv
Raw_Observations/Atmospheric_Observations/US-EDN/AMF_US-EDN_FLUXNET_FULLSET_HH_2018-2019_3-5.nc
Raw_Observations/Atmospheric_Observations/US-EKH/ELKCWMET.csv
Raw_Observations/Atmospheric_Observations/US-EKP/ELKCWMET.csv
Raw_Observations/Atmospheric_Observations/US-EKY/ELKCWMET.csv
Raw_Observations/Atmospheric_Observations/US-Hsm/AMF_US-Hsm_BASE_HH_2-5.csv
Raw_Observations/Atmospheric_Observations/US-Hsm/AMF_US-Hsm_BASE_HH_2-5.nc
Raw_Observations/Atmospheric_Observations/US-Myb/AMF_US-Myb_BASE_HH_13-5.csv
Raw_Observations/Atmospheric_Observations/US-Myb/AMF_US-Myb_FLUXNET_FULLSET_HH_2010-2021_3-5.csv
Raw_Observations/Atmospheric_Observations/US-Myb/AMF_US-Myb_FLUXNET_FULLSET_HH_2010-2021_3-5.nc
Raw_Observations/Atmospheric_Observations/US-Sne/AMF_US-Sne_BASE_HH_7-5.csv
Raw_Observations/Atmospheric_Observations/US-Sne/AMF_US-Sne_FLUXNET_FULLSET_HH_2016-2020_3-5.csv
Raw_Observations/Atmospheric_Observations/US-Sne/AMF_US-Sne_FLUXNET_FULLSET_HH_2016-2020_3-5.nc
Raw_Observations/Atmospheric_Observations/US-Srr/AMF_US-Hsm_BASE_HH_2-5.csv
Raw_Observations/Atmospheric_Observations/US-Srr/AMF_US-Hsm_BASE_HH_2-5.nc
Raw_Observations/Atmospheric_Observations/US-Srr/AMF_US-Srr_BASE_HH_1-5.csv
Raw_Observations/Atmospheric_Observations/US-Tw1/AMF_US-Tw1_BASE_HH_9-5.csv
Raw_Observations/Atmospheric_Observations/US-Tw1/AMF_US-Tw1_FLUXNET_FULLSET_HH_2011-2020_3-5.csv
Raw_Observations/Atmospheric_Observations/US-Tw1/AMF_US-Tw1_FLUXNET_FULLSET_HH_2011-2020_3-5.nc
Raw_Observations/Atmospheric_Observations/US-Tw4/AMF_US-Tw4_BASE_HH_12-5.csv
Raw_Observations/Atmospheric_Observations/US-Tw4/AMF_US-Tw4_BASE_HH_12-5.nc
